html {
  height: 100%;
}

body {
  background-color: rgb(72, 147, 160);
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url('./images/teal-orange-clouds.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
}

label {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.search-area,
.zip-search-area {
  text-align: center;
}

.city-search,
.zip-search {
  font-family: 'Titillium Web', sans-serif;
}

input {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.65rem;
}

.weather-list {
  text-align: center;
  color: white;
}

li {
  list-style: none;
}

.reset {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  width: 6rem;
  margin: 0 auto;
}

.hidden {
  display: none;
}
